@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC</h1>
    <p class="lead">Laboratorio de carritos de compras con MVC y Entity Framework</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Creacion de la BD</h2>
        <p>
            Crearemos la base de datos en MS SQL Server la cual mnos servira para el desarrollo del laboratorio.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>2- Creacion de Controladores y metodos </h2>
        <p>Se creara el proyecto en Visual Estudio 2019 y se elaboraran los controladores y sus vistas necesarias para que 
        nuestro carrito de compras tenga la funcionalidad correcta</p>
       
    </div>
    <div class="col-md-4">
        <h2>- 3 Recursos</h2>
        <p>Entity Framework</p>
        <p>Visual Estudio 2019</p>
        <p>Microsoft SQL Server 2018</p>
        <p>JQuery</p>
        <p>HTML5</p>
        <p>CSS3</p>
        <p>MVC</p>
    </div>
</div>